.md-content {
  @apply m-4;
  h1 {
    @apply text-4xl font-bold my-4;
  }
  h2 {
    @apply text-3xl my-4 font-bold;
  }
  h3 {
    @apply text-2xl my-4 font-bold;
  }
  h4 {
    @apply text-xl my-4 font-bold;
  }
  h5 {
    @apply text-lg my-4 font-bold;
  }
  h6 {
    @apply text-base my-4 font-bold;
  }
  p {
    font-family: Ubuntu, "sans-serif";
    @apply my-2;
  }
  pre {
    @apply my-4 p-4;
  }
}
