{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 88,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQuote": false,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
